$red: #ED1C24;
$yellow: #FFCB27;

body{
    background-color: #000;
}

.headingPromo{
    font-size:1.7rem;
    color:#fff;
    background: $red;
    display: block;
    padding:5px;
    text-transform: uppercase;
    width:100%;
    text-align: center;
    margin-bottom: 3px;
}

.header{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:20px;
    .detail{
        flex: 1 1 auto;
        max-width: 199px;
        margin-right:95px;
    }
    .detail-last{
        margin-right:0;
        margin-left:95px;
    }
    .img{
        flex: 0 0 160px;
        margin-right:20px;
    }
    .img-last{
        margin-right:0 !important;
    }
    p{
        color:$red;
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        font-weight:400;
        span{
            display: block;
            color:#fff;
            font-weight:700;
            font-size: 30px;
            line-height: 38px;
        }
    }
}

.container{
    max-width: 960px;
    margin:0 auto;
}

.navigation{
    margin-top:20px;
    ul{
        list-style-type: none;
        padding:0;
        margin:0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        li{
            a{
                display: block;
                &.active{
                    span{
                        color:$red !important
                    }
                }
                span{
                    color:#fff;
                    font-weight:600;
                    text-align: center;
                    display: block;
                    margin-bottom: 3px;
                    font-size: 15px;
                }
                .rollover{
                    -webkit-background-size: cover;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: top center;
                    filter: brightness(0.2);
                    -webkit-transition: all 300ms ease;
                    -moz-transition: all 300ms ease;
                    -ms-transition: all 300ms ease;
                    -o-transition: all 300ms ease;
                    transition: all 300ms ease;
                }
                .home{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/home.png');
                }
                .tigers{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/tigers.png');
                }
                .starting{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/starting.png');
                }
                .about{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/about.png');
                }
                .instructor{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/instructor.png');
                }
                .contact{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/contact.png');
                }
                .members{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/members.png');
                }
                .gallery{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/gallery.png');
                }

                &:hover{
                    span{
                        color:red !important;
                    }
                    .rollover{
                        filter: brightness(1) !important;
                    }
                }
            }
        }
    }
}


.page{
    .home-slider{
        position: relative;
        .slick-prev {
            position: absolute;
            bottom:-15px;
            left: 47%;
            z-index: 100;
            width:35px;
            height:35px;
            border-style: none;
            text-indent: -9999px;
            background-image: url('/images/home/arrow-left-black.jpg');
            cursor: pointer;
            &:hover{
                background-image: url('/images/home/arrow-left-red.jpg');
            }
        }
        .slick-next{
            position: absolute;
            bottom:-15px;
            left: calc(47% + 45px);
            z-index: 100;
            width:35px;
            height:35px;
            border-style: none;
            text-indent: -9999px;
            background-image: url('/images/home/arrow-right-black.jpg');
            cursor: pointer;
            &:hover{
                background-image: url('/images/home/arrow-right-red.jpg');
            }
        }
    }

    .welcome-block{
        background: #fff;
        width:960px;
        margin:0 auto;
        box-sizing: border-box;
        padding:10px 40px;
        &.tigers-welcome{
            margin-top:-190px;
            padding-top:220px;
        }
        .flex-container{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #333;
            .left{
                flex: 1 1 auto;
            }
            .right{
                flex: 0 0 359px;
                margin-left:20px;
                img{
                    display: block;
                    width:100%;
                }
            }

            .childrens{
                flex: 1 1 50%;
                margin-right:20px;
                margin-bottom:80px;
                .tigers-bg{
                    width:100%;
                    height:282px;
                    background-image: url('/images/home/taekwondo-tigers-normal.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-color:#000;
                    &:hover{
                        background-image: url('/images/home/taekwondo-tigers-rollover.png');
                    }
                }
            }
            .schedule{
                flex: 1 1 50%;
                margin-left:20px;
                .schedule-table{
                    background: #000;
                    .schedule-row{
                        flex: 1 1 auto;
                        border-bottom: 1px solid #fff;
                        padding:11px 5px;
                        text-align: center;
                        &:first-child{
                            p{
                                font-weight:700;
                                font-size: 1.2rem;
                            }
                        }
                        p{
                            color:#fff;
                            margin:0;
                            font-size: 1.2REM;
                        }
                    }
                }
            }

            &.secondary-box{
                margin-top:40px;
            }
        }

        h1{
            color: $red;
            font-size: 2.3rem;
            line-height: 2.5rem;
        }

        ul{
            list-style-type: none;
            padding:0;
            margin:0;
            li{
                &:before {
                    content: "•";
                    color: $red;
                    font-size: 18px;
                }
                margin-bottom:10px;
                font-size:19px;
                font-weight:600;
            }
        }
    }

    .tiger-hero{
        display: block;
        position: relative;
        .tiger-div{
            position: relative;
            width: 1160px;
            margin:0 auto;
        }
        .d-l-pack{
            width:215px;
            height:175px;
            background-image:url('/images/tigers/download-tigers-beginners-pack-button-normal.png');
            -webkit-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 20px;
            right: 232px;
            z-index: 100;
            cursor: pointer;
            //&:hover{
            //    background-image:url('/images/tigers/download-tigers-beginners-pack-button-red.png');
            //}
        }
        .welcome{
            position: absolute;
            bottom: 20px;
            right: 232px;
            z-index: 100;
        }
    }

    .tiger-row{
        border-bottom: none !important;
        padding-left: 40px !important;
        padding-right:40px !important;
        padding-top:40px !important;
        padding-bottom: 40px !important;
        &.reverse{
            flex-direction: row-reverse;
            background: #EDECEC;
            .right{
                margin-left :0 !important;
                margin-right:40px !important;
            }
        }
        img{
            border:1px solid #111;
            padding:2px;
        }
        .left{
            .imghead{
                position: relative;
                margin-bottom:15px;
                img{
                    position: relative;
                    background: $yellow;
                }
            }
            p{
                font-size: 14px;
                font-weight: 600;
                line-height: 22px;
            }
        }
        .right{
            flex: 0 0 310px !important;
        }
    }

    .faq-row{
        margin-bottom:30px;
        h2{
            font-size: 22px;
            font-weight:700;
            color:$red;
            margin-bottom: 0px;
        }
        p{
            font-size: 14px;
            font-weight:600;
            margin-top:5px;
        }
    }

    .d-l-pack-start{
        width:193px;
        height:167px;
        background-image:url('/images/starting/download-beginners-pack-button-normal.png');
        -webkit-background-size: cover;
        background-size: cover;
        position: absolute;
        bottom:-15px;
        left: -150px;
        &:hover{
            cursor: pointer;
            background-image:url('/images/starting/download-beginners-pack-button-rollover.png');

        }
    }

    .button-black{
        display: block;
        padding:5px;
        font-size: 20px;
        font-weight:700;
        background: #000;
        color:#fff;
        text-align: center;
        max-width: 180px;
        cursor: pointer;
        &:hover{
            background: $red;
        }
    }

    .aboutHead{
        font-size: 36px;
        font-weight:700;
        color: $red;
        margin:0;
        line-height:43px;
    }
    .aboutHeadSmall{
        font-size: 22px;
        font-weight:700;
        color: $red;
        margin:0;
        line-height:32px;
    }

    form{

        .row{
            margin-bottom:20px;
        }
        label,input,textarea{
            display: block;
        }
        label{
            font-weight:600;
            display: block;
            margin-bottom:5px;
            font-size:14px;
        }
        input{
            min-height: 23px;
            color: #111;
            background-color: #faf8f8;
            padding: 10px 6px;
            width:100%;
        }
        textarea{
            background-color: #faf8f8;
            padding: 10px 6px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width:100%;
        }

        .wrapped-input{
            display: inline-block;
            width:20px;
            vertical-align: middle;
        }
    }

    .members-heading{
        display: flex;
        justify-content: space-between;
        h2{
            margin-right:40px;
            flex: 0 0 706px;
        }
        .key{
            flex: 1 1 auto;
        }
        ul{
            padding:0;
            margin:0;
            li{
                font-size: 14px;
                position: relative;
                margin-bottom:1px;
                text-align: right;
                padding-right:32px;
                &:before{
                    content: "";
                }
                &:after{
                    content:" ";
                    width:20px;
                    height:20px;
                    background: red;
                    position: absolute;
                    right: 0;
                    bottom:3px;
                }
                &:nth-child(1){
                    &:after{
                        background: #FAA61A;
                    }
                }
                &:nth-child(2){
                    &:after{
                        background: #003CFF;
                    }
                }
                &:nth-child(3){
                    &:after{
                        background: #009B00;
                    }
                }
                &:nth-child(4){
                    &:after{
                        background:#fff;
                        border:1px solid black;
                    }
                }

            }
        }
    }

    .calendar-list{
        .calendar-row{
            border-bottom:3px solid #fff;
            .calendar-nav{
                background: #000;
                color:#fff;
                text-transform: uppercase;
                font-weight:700;
                font-size:16px;
                display: block;
                width:100%;
                padding:10px;
                cursor: pointer;
                &:hover{
                    background: $red;
                }
                &.active{
                    background: $red;
                }
            }
            .calendar-content{
                background:#FAF8F8;
                padding:15px 5px;
                display: none;
                table{
                    width:100%;
                    border-collapse: collapse;
                    tr{
                        td{
                            border-bottom:3px solid #faf8f8;
                            &:first-child{
                                padding-left:5px;
                                width:100px;
                            }
                        }
                        &.holidays{
                            td{
                                font-weight:700;
                                background-color: #FAA61A;
                                color:#fff;
                                &:last-child{
                                    padding-left:0px !important;
                                }
                            }
                        }
                        &.club-gradings{
                            td{
                                font-weight:700;
                                background-color: #003CFF;
                                color:#fff;
                            }
                        }
                        &.competitions{
                            td{
                                font-weight:700;
                                background-color: #009B00;
                                color:#fff;
                            }
                        }
                        &.TAGB{
                            td{
                                background-color: transparent;
                            }
                        }
                        td{
                            vertical-align: top;
                            font-size: 14px;
                            font-weight:500;
                            &:last-child{
                                padding-left:20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .grading{
        justify-content: space-between;
        h3{
            color:$red;
            font-size:18px;
            margin-bottom:5px;
        }
        ul{
            margin:0;
            padding:0;
            li{
                margin-bottom:4px;
                &:before{
                    content:"";
                    width:0;
                    height:0;
                }
                a{
                    font-size: 14px;
                    &:before{
                        content:"";
                        width:19px;
                        height:19px;
                        margin-right:5px;
                        background-color: #000;
                        display: inline-block;
                        position: relative;
                        top: 3px;
                        background-image: url('/images/members/download-grade-sheet-normal.jpg');
                    }
                    &:hover {
                        &:before{
                            content:"";
                            width:19px;
                            height:19px;
                            margin-right:5px;
                            background-color: #000;
                            display: inline-block;
                            background-image: url('/images/members/download-grade-sheet-rollover.jpg');
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.footer{
    background-image: url('/images/footer/burntwood-cannock-taekwondo-footer-red.png');
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 274px;
    padding-top:30px;
    &.tigers-yellow{
        background-image: url('/images/tigers/burntwood-cannock-taekwondo-footer-yellow.png');
    }
    .flex-footer{
        display: flex;
        justify-content: space-between;
        max-width: 960px;
        margin:0 auto;
     .address{
         flex: 0 1 340px;
         .address-flex{
             display: flex;
             .img{
                 flex: none;
                 margin-right:25px;
             }
         }
         p{
             color:#fff;
             font-size:14px;
             &:first-child{
                 margin-top:0;
             }
         }
     }
        .phone{
            flex: 1 1 160px;
            margin-left:50px;
            .phone-flex{
                display: flex;
                p{
                    color:#fff;
                    font-size:14px;
                    &:first-child{
                        margin-top:0;
                    }
                }
                .img{
                    flex: none;
                    margin-right:25px;
                }
            }
        }
        .social-flex{
            ul{
                list-style-type: none;
                margin:0;
                padding:0;
                li{
                    display: inline-block;
                    margin-left:5px;
                }
            }
        }
    }
}

.gallery-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top:40px;
}
.thumb{
    width:100%;
    height:101px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    filter: brightness(0.4);
    cursor: pointer;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
    transition: 300ms ease;
    &:hover{
        filter: brightness(1.0);
    }
}
