$red: #ED1C24;
$yellow: #FFCB27;

body{
    background-color: #000;
}

.headingPromo{
    font-size:1.7rem;
    color:#fff;
    background: $red;
    display: block;
    padding:5px;
    text-transform: uppercase;
    width:100%;
    text-align: center;
    margin-bottom: 3px;
}

.header{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:20px;
    .detail{
        flex: 1 1 auto;
        max-width: 199px;
        margin-right:95px;
    }
    .detail-last{
        margin-right:0;
        margin-left:95px;
    }
    .img{
        flex: 0 0 160px;
        margin-right:20px;
    }
    .img-last{
        margin-right:0 !important;
    }
    p{
        color:$red;
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        font-weight:400;
        span{
            display: block;
            color:#fff;
            font-weight:700;
            font-size: 30px;
            line-height: 38px;
        }
    }
}

.container{
    max-width: 960px;
    margin:0 auto;
}

.navigation{
    margin-top:20px;
    ul{
        list-style-type: none;
        padding:0;
        margin:0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        li{
            a{
                display: block;
                &.active{
                    span{
                        color:$red !important
                    }
                }
                span{
                    color:#fff;
                    font-weight:600;
                    text-align: center;
                    display: block;
                    margin-bottom: 3px;
                    font-size: 15px;
                }
                .rollover{
                    -webkit-background-size: cover;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: top center;
                    filter: brightness(0.2);
                    -webkit-transition: all 300ms ease;
                    -moz-transition: all 300ms ease;
                    -ms-transition: all 300ms ease;
                    -o-transition: all 300ms ease;
                    transition: all 300ms ease;
                }
                .home{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/home.png');
                }
                .tigers{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/tigers.png');
                }
                .starting{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/starting.png');
                }
                .about{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/about.png');
                }
                .instructor{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/instructor.png');
                }
                .contact{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/contact.png');
                }
                .members{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/members.png');
                }
                .gallery{
                    width:100%;
                    height:110px;
                    background-image: url('/images/nav/gallery.png');
                }

                &:hover{
                    span{
                        color:red !important;
                    }
                    .rollover{
                        filter: brightness(1) !important;
                    }
                }
            }
        }
    }
}


.page{
    .home-slider{
        position: relative;
        .slick-prev {
            position: absolute;
            bottom:-15px;
            left: 47%;
            z-index: 100;
            width:35px;
            height:35px;
            border-style: none;
            text-indent: -9999px;
            background-image: url('/images/home/arrow-left-black.jpg');
            cursor: pointer;
            &:hover{
                background-image: url('/images/home/arrow-left-red.jpg');
            }
        }
        .slick-next{
            position: absolute;
            bottom:-15px;
            left: calc(47% + 45px);
            z-index: 100;
            width:35px;
            height:35px;
            border-style: none;
            text-indent: -9999px;
            background-image: url('/images/home/arrow-right-black.jpg');
            cursor: pointer;
            &:hover{
                background-image: url('/images/home/arrow-right-red.jpg');
            }
        }
    }

    .welcome-block{
        background: #fff;
        width:960px;
        margin:0 auto;
        box-sizing: border-box;
        padding:10px 40px;
        &.tigers-welcome{
            margin-top:-190px;
            padding-top:220px;
        }
        .flex-container{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #333;
            .left{
                flex: 1 1 auto;
            }
            .right{
                flex: 0 0 359px;
                margin-left:20px;
                img{
                    display: block;
                    width:100%;
                }
            }

            .childrens{
                flex: 1 1 50%;
                margin-right:20px;
                margin-bottom:80px;
                .tigers-bg{
                    width:100%;
                    height:282px;
                    background-image: url('/images/home/taekwondo-tigers-normal.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-color:#000;
                    &:hover{
                        background-image: url('/images/home/taekwondo-tigers-rollover.png');
                    }
                }
            }
            .schedule{
                flex: 1 1 50%;
                margin-left:20px;
                .schedule-table{
                    background: #000;
                    .schedule-row{
                        flex: 1 1 auto;
                        border-bottom: 1px solid #fff;
                        padding:11px 5px;
                        text-align: center;
                        &:first-child{
                            p{
                                font-weight:700;
                                font-size: 1.2rem;
                            }
                        }
                        p{
                            color:#fff;
                            margin:0;
                            font-size: 1.2REM;
                        }
                    }
                }
            }

            &.secondary-box{
                margin-top:40px;
            }
        }

        h1{
            color: $red;
            font-size: 2.3rem;
            line-height: 2.5rem;
        }

        ul{
            list-style-type: none;
            padding:0;
            margin:0;
            li{
                &:before {
                    content: "•";
                    color: $red;
                    font-size: 18px;
                }
                margin-bottom:10px;
                font-size:19px;
                font-weight:600;
            }
        }
    }

    .tiger-hero{
        display: block;
        position: relative;
        .tiger-div{
            position: relative;
            width: 1160px;
            margin:0 auto;
        }
        .d-l-pack{
            width:215px;
            height:175px;
            background-image:url('/images/tigers/download-tigers-beginners-pack-button-normal.png');
            -webkit-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 20px;
            right: 232px;
            z-index: 100;
            cursor: pointer;
            //&:hover{
            //    background-image:url('/images/tigers/download-tigers-beginners-pack-button-red.png');
            //}
        }
        .welcome{
            position: absolute;
            bottom: 20px;
            right: 232px;
            z-index: 100;
        }
    }

    .tiger-row{
        border-bottom: none !important;
        padding-left: 40px !important;
        padding-right:40px !important;
        padding-top:40px !important;
        padding-bottom: 40px !important;
        &.reverse{
            flex-direction: row-reverse;
            background: #EDECEC;
            .right{
                margin-left :0 !important;
                margin-right:40px !important;
            }
        }
        img{
            border:1px solid #111;
            padding:2px;
        }
        .left{
            .imghead{
                position: relative;
                margin-bottom:15px;
                img{
                    position: relative;
                    background: $yellow;
                }
            }
            p{
                font-size: 14px;
                font-weight: 600;
                line-height: 22px;
            }
        }
        .right{
            flex: 0 0 310px !important;
        }
    }
}

.footer{
    background-image: url('/images/footer/burntwood-cannock-taekwondo-footer-red.png');
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 274px;
    padding-top:30px;
    &.tigers-yellow{
        background-image: url('/images/tigers/burntwood-cannock-taekwondo-footer-yellow.png');
    }
    .flex-footer{
        display: flex;
        justify-content: space-between;
        max-width: 960px;
        margin:0 auto;
     .address{
         flex: 0 1 340px;
         .address-flex{
             display: flex;
             .img{
                 flex: none;
                 margin-right:25px;
             }
         }
         p{
             color:#fff;
             font-size:14px;
             &:first-child{
                 margin-top:0;
             }
         }
     }
        .phone{
            flex: 1 1 160px;
            margin-left:50px;
            .phone-flex{
                display: flex;
                p{
                    color:#fff;
                    font-size:14px;
                    &:first-child{
                        margin-top:0;
                    }
                }
                .img{
                    flex: none;
                    margin-right:25px;
                }
            }
        }
        .social-flex{
            ul{
                list-style-type: none;
                margin:0;
                padding:0;
                li{
                    display: inline-block;
                    margin-left:5px;
                }
            }
        }
    }
}
