@charset "UTF-8";

.mobile-show {
  display: none !important;
}

@media (max-width: 600px) {
  .mobile-show {
    display: block !important;
  }
}

.desktop-show {
  display: block !important;
}

@media (max-width: 600px) {
  .desktop-show {
    display: none !important;
  }
}

body {
  background-color: #000;
}

.hamburger {
  z-index: 1000;
  position: absolute;
  right: 0;
  display: none !important;
}

@media (max-width: 600px) {
  .hamburger {
    display: block !important;
  }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: red !important;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.mobile-navigation {
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background: #000;
  transition: width 300ms ease-in-out;
  height: 100vh;
  display: none;
}

@media (max-width: 600px) {
  .mobile-navigation {
    display: block;
  }
}

.mobile-navigation.is-active {
  width: 60vw;
}

.mobile-navigation .inner {
  display: flex;
  align-items: center;
  height: 100%;
}

.mobile-navigation .inner ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mobile-navigation .inner ul li {
  margin-left: 40px;
}

.mobile-navigation .inner ul li a {
  color: #ED1C24;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 320px) {
  .mobile-navigation .inner ul li a {
    font-size: 20px;
  }
}

.mobile-navigation .inner ul li a:hover {
  color: #c61017;
}

.headingPromo {
  font-size: 1.7rem;
  color: #fff;
  background: #ED1C24;
  display: block;
  padding: 5px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
}

.header {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

@media (max-width: 600px) {
  .header {
    display: block !important;
    text-align: center;
  }
}

.header .detail {
  flex: 1 1 auto;
  max-width: 199px;
  margin-right: 95px;
}

@media (max-width: 600px) {
  .header .detail {
    display: none;
  }
}

.header .detail-last {
  margin-right: 0;
  margin-left: 95px;
}

@media (max-width: 600px) {
  .header .detail-last {
    display: block !important;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    max-width: 100% !important;
    flex: none !important;
  }

  .header .detail-last p {
    display: block;
    text-align: center !important;
  }
}

.header .img {
  flex: 0 0 160px;
  margin-right: 20px;
}

@media (max-width: 600px) {
  .header .img {
    display: inline-block;
    flex: none;
  }
}

.header .img-last {
  margin-right: 0 !important;
}

.header p {
  color: #ED1C24;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.header p span {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.navigation {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .navigation {
    display: none !important;
  }
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.navigation ul li a {
  display: block;
}

.navigation ul li a.active span {
  color: #ED1C24 !important;
}

.navigation ul li a span {
  color: #fff;
  font-weight: 600;
  text-align: center;
  display: block;
  margin-bottom: 3px;
  font-size: 15px;
}

.navigation ul li a .rollover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  filter: brightness(0.2);
  transition: all 300ms ease;
}

.navigation ul li a .home {
  width: 100%;
  height: 110px;
  background-image: url("/images/nav/home.png");
}

.navigation ul li a .tigers {
  width: 100%;
  height: 110px;
  background-image: url("/images/nav/tigers.png");
}

.navigation ul li a .starting {
  width: 100%;
  height: 110px;
  background-image: url("/images/nav/starting.png");
}

.navigation ul li a .about {
  width: 100%;
  height: 110px;
  background-image: url("/images/nav/about.png");
}

.navigation ul li a .instructor {
  width: 100%;
  height: 110px;
  background-image: url("/images/nav/instructor.png");
}

.navigation ul li a .contact {
  width: 100%;
  height: 110px;
  background-image: url("/images/nav/contact.png");
}

.navigation ul li a .members {
  width: 100%;
  height: 110px;
  background-image: url("/images/nav/members.png");
}

.navigation ul li a .gallery {
  width: 100%;
  height: 110px;
  background-image: url("/images/nav/gallery.png");
}

.navigation ul li a:hover span {
  color: red !important;
}

.navigation ul li a:hover .rollover {
  filter: brightness(1) !important;
}

.page .home-slider {
  position: relative;
}

.page .home-slider .slick-prev {
  position: absolute;
  bottom: -15px;
  left: 47%;
  z-index: 100;
  width: 35px;
  height: 35px;
  border-style: none;
  text-indent: -9999px;
  background-image: url("/images/home/arrow-left-black.jpg");
  cursor: pointer;
}

@media (max-width: 600px) {
  .page .home-slider .slick-prev {
    left: 40%;
  }
}

.page .home-slider .slick-prev:hover {
  background-image: url("/images/home/arrow-left-red.jpg");
}

.page .home-slider .slick-next {
  position: absolute;
  bottom: -15px;
  left: calc(47% + 45px);
  z-index: 100;
  width: 35px;
  height: 35px;
  border-style: none;
  text-indent: -9999px;
  background-image: url("/images/home/arrow-right-black.jpg");
  cursor: pointer;
}

@media (max-width: 600px) {
  .page .home-slider .slick-next {
    left: calc(44% + 45px);
  }
}

.page .home-slider .slick-next:hover {
  background-image: url("/images/home/arrow-right-red.jpg");
}

.page .welcome-block {
  background: #fff;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 40px;
}

.page .welcome-block.tigers-welcome {
  margin-top: -190px;
  padding-top: 220px;
}

.page .welcome-block .flex-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
}

@media (max-width: 960px) {
  .page .welcome-block .flex-container {
    display: block;
  }
}

.page .welcome-block .flex-container .left {
  flex: 1 1 auto;
}

.page .welcome-block .flex-container .right {
  flex: 0 0 359px;
  margin-left: 20px;
}

@media (max-width: 600px) {
  .page .welcome-block .flex-container .right {
    margin-left: 0;
  }
}

.page .welcome-block .flex-container .right img {
  display: block;
  width: 100%;
}

@media (max-width: 960px) {
  .page .welcome-block .flex-container .right img {
    max-width: 320px;
    margin: 20px auto 0 auto;
  }
}

.page .welcome-block .flex-container .childrens {
  flex: 1 1 50%;
  margin-right: 20px;
  margin-bottom: 80px;
}

@media (max-width: 960px) {
  .page .welcome-block .flex-container .childrens {
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0 !important;
  }
}

.page .welcome-block .flex-container .childrens .tigers-bg {
  width: 100%;
  height: 282px;
  background-image: url("/images/home/taekwondo-tigers-normal.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #000;
}

.page .welcome-block .flex-container .childrens .tigers-bg:hover {
  background-image: url("/images/home/taekwondo-tigers-rollover.png");
}

.page .welcome-block .flex-container .schedule {
  flex: 1 1 50%;
  margin-left: 20px;
}

@media (max-width: 960px) {
  .page .welcome-block .flex-container .schedule {
    margin-left: 0;
  }
}

.page .welcome-block .flex-container .schedule .schedule-table {
  background: #000;
}

.page .welcome-block .flex-container .schedule .schedule-table .schedule-row {
  flex: 1 1 auto;
  border-bottom: 1px solid #fff;
  padding: 11px 5px;
  text-align: center;
}

.page .welcome-block .flex-container .schedule .schedule-table .schedule-row:first-child p {
  font-weight: 700;
  font-size: 1.2rem;
}

.page .welcome-block .flex-container .schedule .schedule-table .schedule-row p {
  color: #fff;
  margin: 0;
  font-size: 1.2REM;
}

.page .welcome-block .flex-container .schedule-childrens {
  margin-right: 0;
  margin-left: 20px;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .page .welcome-block .flex-container .schedule-childrens {
    margin-left: 0;
  }
}

.page .welcome-block .flex-container .schedule-pack {
  margin-left: 20px;
  margin-bottom: 30px;
  position: relative;
}

@media (max-width: 600px) {
  .page .welcome-block .flex-container .schedule-pack {
    margin-left: 0;
  }
}

.page .welcome-block .flex-container.secondary-box {
  margin-top: 40px;
}

.page .welcome-block h1 {
  color: #ED1C24;
  font-size: 2.3rem;
  line-height: 2.5rem;
}

.page .welcome-block ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page .welcome-block ul li {
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 600;
}

.page .welcome-block ul li:before {
  content: "\2022";
  color: #ED1C24;
  font-size: 18px;
}

.page .tiger-hero {
  display: block;
  position: relative;
}

.page .tiger-hero .tiger-div {
  position: relative;
  margin: 0 auto;
  max-width: 1160px;
}

.page .tiger-hero .d-l-pack {
  width: 215px;
  height: 175px;
  background-image: url("/images/tigers/download-tigers-beginners-pack-button-normal.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 20px;
  right: 232px;
  z-index: 100;
  cursor: pointer;
}

@media (max-width: 1159px) {
  .page .tiger-hero .d-l-pack {
    bottom: -5vw;
    right: 15vw;
  }
}

@media (max-width: 600px) {
  .page .tiger-hero .d-l-pack {
    bottom: -25%;
    right: 0%;
  }
}

.page .tiger-hero .welcome {
  position: absolute;
  bottom: 20px;
  right: 232px;
  z-index: 100;
}

.page .tiger-row {
  border-bottom: none !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.page .tiger-row.reverse {
  flex-direction: row-reverse;
  background: #EDECEC;
}

.page .tiger-row.reverse .right {
  margin-left: 0 !important;
  margin-right: 40px !important;
}

.page .tiger-row img {
  border: 1px solid #111;
  padding: 2px;
}

.page .tiger-row .left .imghead {
  position: relative;
  margin-bottom: 15px;
}

.page .tiger-row .left .imghead img {
  position: relative;
  background: #FFCB27;
}

@media (max-width: 600px) {
  .page .tiger-row .left .imghead img {
    width: 100%;
  }
}

.page .tiger-row .left p {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.page .tiger-row .right {
  flex: 0 0 310px !important;
}

.page .faq-row {
  margin-bottom: 30px;
}

.page .faq-row h2 {
  font-size: 22px;
  font-weight: 700;
  color: #ED1C24;
  margin-bottom: 0px;
}

.page .faq-row p {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
}

.page .d-l-pack-start {
  width: 193px;
  height: 167px;
  background-image: url("/images/starting/download-beginners-pack-button-normal.png");
  background-size: cover;
  position: absolute;
  bottom: -15px;
  left: -150px;
}

@media (max-width: 600px) {
  .page .d-l-pack-start {
    position: inherit;
    left: inherit;
    bottom: inherit;
    margin: 40px auto 0 auto;
  }
}

.page .d-l-pack-start:hover {
  cursor: pointer;
  background-image: url("/images/starting/download-beginners-pack-button-rollover.png");
}

.page .button-black {
  display: block;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  background: #000;
  color: #fff;
  text-align: center;
  max-width: 180px;
  cursor: pointer;
}

.page .button-black:hover {
  background: #ED1C24;
}

.page .aboutHead {
  font-size: 36px;
  font-weight: 700;
  color: #ED1C24;
  margin: 0;
  line-height: 43px;
}

.page .aboutHeadSmall {
  font-size: 22px;
  font-weight: 700;
  color: #ED1C24;
  margin: 0;
  line-height: 32px;
}

.page .about-tabg {
  width: 180px;
}

.page .about-tabg img {
  width: 100%;
}

@media (max-width: 960px) {
  .page .about-tabg {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .page #contact {
    margin-bottom: 40px;
  }
}

.page form .row {
  margin-bottom: 20px;
}

.page form label,
.page form input,
.page form textarea {
  display: block;
}

.page form label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.page form input {
  min-height: 23px;
  color: #111;
  background-color: #faf8f8;
  padding: 10px 6px;
  width: 100%;
}

.page form textarea {
  background-color: #faf8f8;
  padding: 10px 6px;
  box-sizing: border-box;
  width: 100%;
}

.page form .wrapped-input {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
}

.page .members-heading {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .page .members-heading {
    display: block;
  }
}

.page .members-heading h2 {
  margin-right: 40px;
  flex: 0 0 706px;
}

.page .members-heading .key {
  flex: 1 1 auto;
}

@media (max-width: 960px) {
  .page .members-heading .key {
    flex: none;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.page .members-heading ul {
  padding: 0;
  margin: 0;
}

@media (max-width: 960px) {
  .page .members-heading ul {
    max-width: 300px;
  }
}

.page .members-heading ul li {
  font-size: 14px;
  position: relative;
  margin-bottom: 1px;
  text-align: right;
  padding-right: 32px;
}

.page .members-heading ul li:before {
  content: "";
}

.page .members-heading ul li:after {
  content: " ";
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  right: 0;
  bottom: 3px;
}

.page .members-heading ul li:nth-child(1):after {
  background: #FAA61A;
}

.page .members-heading ul li:nth-child(2):after {
  background: #003CFF;
}

.page .members-heading ul li:nth-child(3):after {
  background: #009B00;
}

.page .members-heading ul li:nth-child(4):after {
  background: #945d1d;
}

.page .members-heading ul li:nth-child(5):after {
  background: #bd4e98;
}

.page .members-heading ul li:nth-child(6):after {
  background: #b2b2b2;
}

.page .members-heading ul li:nth-child(7):after {
  background: #e74112;
}

.page .calendar-list .calendar-row {
  border-bottom: 3px solid #fff;
}

.page .calendar-list .calendar-row .calendar-nav {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.page .calendar-list .calendar-row .calendar-nav:hover {
  background: #ED1C24;
}

.page .calendar-list .calendar-row .calendar-nav.active {
  background: #ED1C24;
}

.page .calendar-list .calendar-row .calendar-content {
  background: #FAF8F8;
  padding: 15px 5px;
  display: none;
}

.page .calendar-list .calendar-row .calendar-content table {
  width: 100%;
  border-collapse: collapse;
}

.page .calendar-list .calendar-row .calendar-content table tr td {
  border-bottom: 3px solid #faf8f8;
}

.page .calendar-list .calendar-row .calendar-content table tr td:first-child {
  padding-left: 5px;
  width: 100px;
}

.page .calendar-list .calendar-row .calendar-content table tr.holidays td {
  font-weight: 700;
  background-color: #eda941;
  color: #fff;
}

.page .calendar-list .calendar-row .calendar-content table tr.holidays td:last-child {
  padding-left: 0px !important;
}

.page .calendar-list .calendar-row .calendar-content table tr.club-gradings td,
.page .calendar-list .calendar-row .calendar-content table tr.club_gradings td {
  font-weight: 700;
  background-color: #2c53a0;
  color: #fff;
}

.page .calendar-list .calendar-row .calendar-content table tr.competitions td {
  font-weight: 700;
  background-color: #439735;
  color: #fff;
}

.page .calendar-list .calendar-row .calendar-content table tr.TAGB td,
.page .calendar-list .calendar-row .calendar-content table tr.tagb_courses td {
  color: #fff;
  font-weight: 700;
  background-color: #945d1d;
}

.page .calendar-list .calendar-row .calendar-content table tr.general td {
  font-weight: 700;
  background-color: #bd4e98;
  color: #fff;
}

.page .calendar-list .calendar-row .calendar-content table tr.news td {
  font-weight: 700;
  background-color: #b2b2b2;
  color: #fff;
}

.page .calendar-list .calendar-row .calendar-content table tr.urgent-updates td,
.page .calendar-list .calendar-row .calendar-content table tr.urgent_updates td {
  font-weight: 700;
  background-color: #e74112;
  color: #fff;
}

.page .calendar-list .calendar-row .calendar-content table tr td {
  vertical-align: top;
  font-size: 14px;
  font-weight: 500;
}

.page .calendar-list .calendar-row .calendar-content table tr td:last-child {
  padding-left: 20px;
}

.page .grading {
  justify-content: space-between;
}

.page .grading h3 {
  color: #ED1C24;
  font-size: 18px;
  margin-bottom: 5px;
}

.page .grading ul {
  margin: 0;
  padding: 0;
}

.page .grading ul li {
  margin-bottom: 4px;
}

.page .grading ul li:before {
  content: "";
  width: 0;
  height: 0;
}

.page .grading ul li a {
  font-size: 14px;
}

.page .grading ul li a:before {
  content: "";
  width: 19px;
  height: 19px;
  margin-right: 5px;
  background-color: #000;
  display: inline-block;
  position: relative;
  top: 3px;
  background-image: url("/images/members/download-grade-sheet-normal.jpg");
}

.page .grading ul li a:hover:before {
  content: "";
  width: 19px;
  height: 19px;
  margin-right: 5px;
  background-color: #000;
  display: inline-block;
  background-image: url("/images/members/download-grade-sheet-rollover.jpg");
  cursor: pointer;
}

.text-danger {
  background: red;
  color: white;
  font-size: 0.7rem;
  padding: 5px 10px;
}

.footer {
  background-image: url("/images/footer/burntwood-cannock-taekwondo-footer-red.png");
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 274px;
  padding-top: 30px;
}

@media (max-width: 600px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
    background-size: cover;
    background-repeat: repeat;
    background-position: top right;
  }
}

.footer.tigers-yellow {
  background-image: url("/images/tigers/burntwood-cannock-taekwondo-footer-yellow.png");
}

.footer .flex-footer {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.footer .flex-footer .address {
  flex: 0 1 340px;
}

.footer .flex-footer .address .address-flex {
  display: flex;
}

.footer .flex-footer .address .address-flex .img {
  flex: none;
  margin-right: 25px;
}

.footer .flex-footer .address .phone-flex {
  display: none !important;
}

@media (max-width: 600px) {
  .footer .flex-footer .address .phone-flex {
    display: flex !important;
  }
}

.footer .flex-footer .address .phone-flex p {
  color: #fff;
  font-size: 14px;
}

.footer .flex-footer .address .phone-flex p:first-child {
  margin-top: 0;
}

.footer .flex-footer .address .phone-flex .img {
  flex: none;
  margin-right: 25px;
}

.footer .flex-footer .address p {
  color: #fff;
  font-size: 14px;
}

.footer .flex-footer .address p:first-child {
  margin-top: 0;
}

.footer .flex-footer .phone {
  flex: 1 1 160px;
  margin-left: 50px;
}

.footer .flex-footer .phone .phone-flex {
  display: flex;
}

.footer .flex-footer .phone .phone-flex p {
  color: #fff;
  font-size: 14px;
}

.footer .flex-footer .phone .phone-flex p:first-child {
  margin-top: 0;
}

.footer .flex-footer .phone .phone-flex .img {
  flex: none;
  margin-right: 25px;
}

.footer .flex-footer .social-flex ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .flex-footer .social-flex ul li {
  display: inline-block;
  margin-left: 5px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 40px;
}

.thumb {
  width: 100%;
  height: 101px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  filter: brightness(0.4);
  cursor: pointer;
  transition: 300ms ease;
}

.thumb:hover {
  filter: brightness(1);
}

